/*Responsive Codes*/
/*Header*/
@media (max-width: 1309px) {
    #header-links {
        width: 23%;
    }
}

@media (max-width: 1252px) {
    #header-links {
        width: 24%;
    }
}

@media (max-width: 1201px) {
    #header-links {
        width: 25%;
    }
}

@media (max-width: 1152px) {
    #header-links {
        width: 26%;
    }
}

@media (max-width: 1107px) {
    #header-links {
        width: 27%;
    }
}

@media (max-width: 1066px) {
    #header-links {
        width: 28%;
    }
}

@media (max-width: 1028px) {
    #header-links {
        width: 29%;
    }
    .intro-section {
        display: block;
        height: 1100px;
    }
    .intro-content, 
    .intro-img {
        height: 50%;
        margin: 0 auto;
    }
}


@media (max-width: 993px) {
    #header-links {
        width: 30%;
    }
}

@media (max-width: 960px) {
    #header-links {
        width: 31%;
    }
}

@media (max-width: 929px) {
    #header-links {
        width: 32%;
    }
    .intro-content-container {
        width: 100%;
    }
    .intro-img-and-container,
    .intro-img-container {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 900px) {
    #header-links {
        width: 33%;
    }
}

@media (max-width: 872px) {
    #header-links {
        width: 34%;
    }
}

@media (max-width: 847px) {
    #header-links {
        width: 35%;
    }
}

@media (max-width: 823px) {
    #header-links {
        width: 36%;
    }
    .intro-content {
        width: 60%;
    }
}

@media (max-width: 800px) {
    #header-links {
        width: 37%;
    }
}

@media (max-width: 778px) {
    #header-links {
        width: 38%;
    }
}

@media (max-width: 758px) {
    #header-links {
        width: 39%;
    }
}

@media (max-width: 738px) {
    #header-links {
        width: 40%;
    }
}

@media (max-width: 720px) {
    #header-links {
        width: 41%;
    }
}

@media (max-width: 702px) {
    #header-links {
        width: 42%;
    }
}

@media (max-width: 685px) {
    #header-links {
        width: 43%;
    }
    .intro-content {
        width: 80%;
    }
}

@media (max-width: 669px) {
    #header-links {
        width: 44%;
    }
}

@media (max-width: 654px) {
    #header-links {
        width: 45%;
    }
}

@media (max-width: 640px) {
    #header-links {
        width: 46%;
    }
}

@media (max-width: 626px) {
    #header-links {
        width: 47%;
    }
}

@media (max-width: 612px) {
    #header-links {
        width: 48%;
    }
}

@media (max-width: 600px) {
    #header-links {
        width: 49%;
    }
    .intro-img {
        width: 75%;
    }
    .intro-img-and-container,
    .intro-img-container {
        width: 200px;
        height: 200px;
    }
    .intro-contacts {
        width: 65%;
    }
}

@media (max-width: 587px) {
    #header-links {
        width: 50%;
    }
}

@media (max-width: 576px) {
    #header-links {
        display: none;
    }
    #more-icon {
        display: block;
    }
    .intro-content {
        width: 75%;
    }
}

@media (max-width: 521px) {
    #header-links {
        display: none;
    }
    #more-icon {
        display: block;
    }
    .intro-content {
        width: 90%;
    }
}

@media (max-width: 434px) {
    #header-links {
        display: none;
    }
    #more-icon {
        display: block;
    }
    .intro-content {
        transform: scale(0.9);
    }
}

@media (max-width: 395px) {
    #header-links {
        display: none;
    }
    #more-icon {
        display: block;
    }
    .intro-img-and-container,
    .intro-img-container {
        width: 150px;
        height: 150px;
    }
    .intro-contacts {
        width: 80%;
    }
}

@media (max-width: 374px) {
    #header-links {
        display: none;
    }
    #more-icon {
        display: block;
    }
    .intro-img-and-container,
    .intro-img-container {
        width: 150px;
        height: 150px;
    }
    .intro-contacts {
        transform: scale(0.8);
    }
}

@media (max-width: 363px) {
    #header-links {
        display: none;
    }
    #more-icon {
        display: block;
    }
    .intro-img-and-container,
    .intro-img-container {
        width: 100px;
        height: 100px;
    }
    .intro-contacts {
        width: 100%;
    }
}

@media (max-width: 349px) {
    #header-links {
        display: none;
    }
    #more-icon {
        display: block;
    }
    .intro-img-and-container,
    .intro-img-container {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 340px) {
    #header-links {
        display: none;
    }
    #more-icon {
        display: block;
    }
    .intro-img {
        margin-top: 50px;
    }
}

@media (max-width: 313px) {
    #header-links {
        display: none;
    }
    #more-icon {
        display: block;
    }
    .intro-content {
        transform: translate(0, -100px);
    }
    .intro-img {
        margin-top: 150px;
    }
}

@media (max-width: 294px) {
    #header-links {
        display: none;
    }
    #more-icon {
        display: block;
    }
}

@media (max-width: 267px) {
    #header-links {
        display: none;
    }
    #more-icon {
        display: block;
    }
    .intro-content {
        width: 95%;
    }
    .intro-content-container {
        width: 100%;
    }
    .intro-content-inside {
        width: 100%;
    }
    .intro-btns {
        width: 100%;
    }
    .intro-contacts {
        width: 100%;
    }
}

@media (max-width: 255px) {
    .intro-content {
        transform: scale(0.8) translate(0, -200px);
    }
    .intro-img {
        transform: translate(0, -50px);
    }
    .intro-section {
        height: 1000px;
    }
}

@media (max-width: 246px) {
    .intro-img {
        transform: scale(0.8);
    }
}

@media (max-width: 236px) {
    .intro-btns {
        width: 230px;
        transform: scale(0.9);
    }
}